Django
dj-database-url
django-cors-headers
django-filter
django-phonenumber-field
djangorestframework
djangorestframework_simplejwt
drf-yasg
gunicorn
phonenumbers
psycopg2-binary
pytz
qrcode
requests
sqlparse
stripe
whitenoise
python-decouple
