# Database configuration
DB_NAME=tiketi_tamasha
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# Django secret key
SECRET_KEY=your_secret_key_here

# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379