asgiref
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django>=5.1,<6.0
django-cors-headers
django-daraja
django-mpesa
django-phonenumber-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
idna
inflection
packaging
phonenumbers
pillow
psycopg2-binary
pycparser
PyJWT
python-decouple
python-dotenv
pytz
PyYAML
requests
sqlparse
stripe
typing_extensions
uritemplate
urllib3
whitenoise
setuptools
